.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.head-image {
  height: 900px;
  /*background: linear-gradient(rgba(0, 53, 106, 0.8), transparent 90%),*/
    /*linear-gradient(0deg, #647687, transparent), */
  background: url("/img/chef-tablet-stand.jpg");
  background-size: cover;
  border: 1px solid black;
}

html, body {
  height: 100%;
}

.container {
  min-height: 100vh;
}

h1 {
  font-variant: small-caps;
}

.head-image {
  position: relative;
  width: 100%;
}

.86list {
  margin-bottom: 20px;
}

.progress, .progress-bar {
  width: 100%;
  background: #CCC;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin: 14pt 0;
  font-size: 16.5pt;
  line-height: 28pt;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
