.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

html, body {
  height: 100%;
}

.container {
  min-height: 100vh;
}

h1 {
  font-variant: small-caps;
}

.head-image {
  position: relative;
  width: 100%;
}

.86list {
  margin-bottom: 20px;
}

.panel > .heading {
  color: #ffffff;
  background-color: #00356a;
  cursor: default;
  vertical-align: middle;
  z-index: 2;
  height: 2.625rem;
  box-shadow: -1px 6px 6px -6px rgba(0, 0, 0, 0.35);
  font: 500 1.125rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel > .content {
  color: #ffffff;
  background-color: #999999;
  z-index: 1;
  font-size: 0.875rem;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 14pt;
  font-size: 16.5pt;
  line-height: 28pt;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
