body {
  background-image:
        -moz-linear-gradient(45deg, #222 25%, transparent 25%),
        -moz-linear-gradient(-45deg, #222 25%, transparent 25%),
        -moz-linear-gradient(45deg, transparent 75%, #222 75%),
        -moz-linear-gradient(-45deg, transparent 75%, #222 75%);
      background-image:
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #222), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #222), color-stop(.25, transparent)),
        -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #222)),
        -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #222));

      -moz-background-size:100px 100px;
      background-size:100px 100px;

      background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}

.container {
  background: #FBBCD7;
  margin-top: 50px;
  border: 2px solid #111;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: turquoise;
  padding: 1em;
  border: 2px solid #111;
  border-radius: 5px;
}

.orders {
  margin: auto;
}

.order {
  padding: 10px;
  border: 1px solid #111;
  border-radius: 5px;
  margin-bottom: 20px;
}

.order ul {
  list-style: none;
  padding-left: 0;
}

.order ul li {
  font-size: 1.25em;
}

form h2 {
  text-align: center;
}
