<h1>Add a category</h1>

<p>Add a category here:</p>

<form action="/categories" method="post">
  <label for="name">Category name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Category</button>
</form>
