<div class="container bg-grayLighter">
  <div class="padding40 no-padding-bottom">
    <div class="new-dish padding20 block-shadow" style="opacity: 1; transform: scale(1); transition: 0.5s;">
      <form action="manager/new-dish" method="post">
        <h1 class="text-light">Add A New Dish</h1>
        <hr class="thin">
        <br>
        <div class="input-control text full-size" data-role="input">
          <label for=""></label>
        </div>
      </form>
    </div>
  </div>
</div>
