<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Welcome to To Do List</h1>

    <h3><a href="/categories">Add or view a category</a></h3>
    <h3><a href="/tasks">Add or view a task</a></h3>

</body>
