<h1><a href="/">Local Shoes</a></h1>

<div class="navigation-box stores">
  <h2><a href="/stores">Stores</a></h2>
</div>

<div class="navigation-box brands">
  <h2><a href="/brands">Brands</a></h2>
</div>
