<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      
      #parse( $template )

    </div>
  </body>
</html>
