<!DOCTYPE html>
<html>
  <head>
    <title>Registrar</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h2><a href="/students">Students</a> | <a href="/courses">Courses</a> | <a href="/departments">Departments</a></h2>

      #parse( $template )

    </div>
  </body>
</html>
