<h2>Enter new category name</h2>

<form action="/allcategories" method="post">
  <div class="form-group">
      <input name="name" type="text" class="form-control" id="name" required placeholder="Type your category name . . .">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit!</button>
</form>
